##############################
## Folders                  ##
##############################
Client/Code/Library
Client/Code/Temp
Client/Code/Assets/Publish
Client/Code/Assets/StreamingAssets
Client/Art/Library
Client/Art/Temp
Client/Unity_TestAction/Library
Client/Unity_TestAction/Temp
Client/Products/Patch
Client/Products/runtimeRes/Android
 
##############################
## files            ##
##############################
Client/Code/Code.csproj
Client/Code/Code.Editor.csproj
Client/Code/Code.sln
Client/Code/.vs
Client/Art/Art.csproj
Client/Art/Art.Editor.csproj
Client/Art/Art.sln
Client/Art/.vs
Client/Art/Assets/start.unity
Client/Unity_TestAction/Unity_TestAction.csproj
Client/Unity_TestAction/Unity_TestAction.Editor.csproj
Client/Unity_TestAction/Unity_TestAction.sln
Client/Unity_TestAction/.vs
