<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevilHuntersActionEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DevilHuntersActionEditor.Properties.Settings>
            <setting name="SaveWarnning" serializeAs="String">
                <value>是否保存修改？是还是不是？这个一个问题，相当严重的问题！小样你到底要不要保存啊？</value>
            </setting>
            <setting name="JokeTime" serializeAs="String">
                <value>2010-11-15</value>
            </setting>
            <setting name="JokeMessage" serializeAs="String">
                <value>点击"确定"将开始格式化您的电脑，温馨提示：请将自己的文件保存好，垃圾丢到桶里面，谢谢合作！！！</value>
            </setting>
            <setting name="JokeTitle" serializeAs="String">
                <value>米国国家安全局侦测到你的电脑有火星异型感染的症状</value>
            </setting>
            <setting name="WorkDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyRight" serializeAs="String">
                <value>外星工作室</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>V0.1</value>
            </setting>
            <setting name="HelpDoc" serializeAs="String">
                <value>帮助文档？晕倒，我没有找到，请联系安全管理部门，先拨打1086，再按0，听到滴的一声后请留言。</value>
            </setting>
            <setting name="UnitDataFile" serializeAs="String">
                <value>z职业基础信息表.xls</value>
            </setting>
            <setting name="ActionTypeFile" serializeAs="String">
                <value>ActionType.xml</value>
            </setting>
            <setting name="SaveInfo" serializeAs="String">
                <value>文档最后保存时间为：</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MapName" serializeAs="String">
                <value />
            </setting>
            <setting name="EffectDataFile" serializeAs="String">
                <value>EffectData.xml</value>
            </setting>
            <setting name="VersionHistoryFile" serializeAs="String">
                <value>VersionHistory.xml</value>
            </setting>
            <setting name="GFXDirectory" serializeAs="String">
                <value>ActionGFX</value>
            </setting>
            <setting name="SoundDirectory" serializeAs="String">
                <value>ActionSound</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>DevilHunter</value>
            </setting>
            <setting name="IOSDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UnityWorkDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorTitle" serializeAs="String">
                <value>动作编辑器</value>
            </setting>
        </DevilHuntersActionEditor.Properties.Settings>
    </userSettings>
</configuration>